.alert {
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
}

.alert-link {
    font-weight: 500;
    text-decoration: underline;
    &:hover {
        text-decoration: underline;
    }
}

.alert-dismissible {
    padding: 0 0 0 1rem;
}

.alert-primary {
    background-color: var(--alert-primary-bg);
    color: var(--alert-primary-color);
    .alert-link {
        color: var(--alert-primary-link-color);
    }
    .alert-heading {
        color: var(--alert-primary-heading-color);
    }
    .btn-close {
        background-color: var(--alert-primary-close-bg);
        &:hover {
            background-color: var(--alert-primary-close-hover-bg);
        }
    }
}

.alert-success {
    background-color: var(--alert-success-bg);
    color: var(--alert-success-color);
    .alert-link {
        color: var(--alert-success-link-color);
    }
    .alert-heading {
        color: var(--alert-success-heading-color);
    }
    .btn-close {
        background-color: var(--alert-success-close-bg);
        &:hover {
            background-color: var(--alert-success-close-hover-bg);
        }
    }
}

.alert-error {
    background-color: var(--alert-error-bg);
    color: var(--alert-error-color);
    .alert-link {
        color: var(--alert-error-link-color);
    }
    .alert-heading {
        color: var(--alert-error-heading-color);
    }
    .btn-close {
        background-color: var(--alert-error-close-bg);
        &:hover {
            background-color: var(--alert-error-close-hover-bg);
        }
    }
}
