.badge {
    display: inline-block;
    background-color: var(--badge-bg);
    color: var(--badge-color);
    font-size: .75em;
    font-weight: 500;
    // line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    padding: .25em .5em;
    border-radius: .25rem;
    &:empty {
        display: none;
    }
}

.btn .badge {
    position: relative;
    top: -1px;
}
