.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    border-radius: .25rem;
}

.breadcrumb-bg {
    background-color: $pro7;
    .dark-mode & {
        background-color: $pro3;
    }
}

.breadcrumb-item {
    display: flex;
    font-weight: 500;
    + .breadcrumb-item {
        // padding-left: .5rem;

        &::before {
            display: inline-block;
            content: "";
            width: 30px;
            background-color: $pro5;
            mask-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='24' height='24' viewBox='0 0 24 24'><path d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z' /></svg>"));
            mask-position: center;
            mask-repeat: no-repeat;
        }
    }
    &.active {
        color: $pro5;
    }
}

.breadcrumb-alt {
    .breadcrumb-item {
        + .breadcrumb-item {
            &::before {
                mask-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' viewBox='0 0 24 24'><path d='M7 21L14.9 3H17L9.1 21H7Z' /></svg>"));
            }
        }
    }
}
