.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    border-radius: .25rem;
}

.breadcrumb-bg {
    background-color: var(--breadcrumb-bg);
    transition: background 300ms;
}

.breadcrumb-item {
    display: flex;
    font-weight: 500;
    + .breadcrumb-item {
        &::before {
            display: inline-block;
            content: "";
            width: 30px;
            background-color: var(--breadcrumb-icon-color);
            mask-image: var(--breadcrumb-icon);
            mask-position: center;
            mask-repeat: no-repeat;
        }
    }
    &.active {
        color: var(--breadcrumb-icon-color);
    }
}

.breadcrumb-alt {
    .breadcrumb-item {
        + .breadcrumb-item {
            &::before {
                mask-image: var(--breadcrumb-icon-alt);
            }
        }
    }
}
