.btn {
    display: inline-block;
    background-color: transparent;
    color: $pro5;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    padding: .625rem 1.5rem;
    border: 2px solid transparent;
    border-radius: .25rem;
    transition: background-color 300ms, border-color 300ms, color 300ms;
    &:hover {
        background-color: $pro7;
        color: $pro3;
        text-decoration: none;
    }
    .dark &:hover {
        background-color: $pro3;
        color: $pro7;
        text-decoration: none;
    }
    .btn-check:focus + &,
    &:focus {
        outline: 0;
    }
    &:disabled,
    &.disabled,
    fieldset:disabled & {
        pointer-events: none;
        opacity: .65;
    }
}

.btn-primary {
    background-color: $pro3;
    color: $pro7;
    &:hover {
        background-color: $pro0;
        color: $pro7;
    }
    .dark & {
        background-color: $pro7;
        color: $pro3;
        &:hover {
            background-color: $pro10;
            color: $pro3;
        }
    }
    &.btn-light-bg {
        background-color: $pro3 !important;
        color: $pro7 !important;
        &:hover {
            background-color: $pro0 !important;
            color: $pro7 !important;
        }
    }
    &.btn-dark-bg {
        background-color: $pro7 !important;
        color: $pro3 !important;
        &:hover {
            background-color: $pro10 !important;
            color: $pro3 !important;
        }
    }
}

.btn-primary-outline {
    background-color: transparent;
    color: $pro3;
    border-color: $pro3;
    &:hover {
        background-color: transparent;
        border-color: $pro0;
        color: $pro0;
    }
    .dark & {
        background-color: transparent;
        color: $pro7;
        border-color: $pro7;
        &:hover {
            background-color: transparent;
            color: $pro10;
            border-color: $pro10;
        }
    }
    &.btn-light-bg {
        background-color: transparent !important;
        color: $pro3 !important;
        border-color: $pro3 !important;
        &:hover {
            background-color: transparent !important;
            border-color: $pro0 !important;
            color: $pro0 !important;
        }
    }
    &.btn-dark-bg {
        background-color: transparent !important;
        color: $pro7 !important;
        border-color: $pro7 !important;
        &:hover {
            background-color: transparent !important;
            color: $pro10 !important;
            border-color: $pro10 !important;
        }
    }
}

.btn-secondary {
    background-color: $pro7;
    color: $pro5;
    &:hover {
        background-color: $pro6;
        color: $pro4;
    }
    .dark & {
        background-color: $pro3;
        color: $pro7;
        &:hover {
            background-color: $pro4;
            color: $pro8;
        }
    }
    &.btn-light-bg {
        background-color: $pro7 !important;
        color: $pro5 !important;
        &:hover {
            background-color: $pro6 !important;
            color: $pro4 !important;
        }
    }
    &.btn-dark-bg {
        background-color: $pro3 !important;
        color: $pro7 !important;
        &:hover {
            background-color: $pro4 !important;
            color: $pro8 !important;
        }
    }
}

.btn-danger {
    background-color: $pro12;
    color: $pro7;
    &:hover {
        background-color: darken($pro12, 5%);
        color: $pro7;
    }
    .dark & {
        background-color: $pro12;
        color: $pro7;
        &:hover {
            background-color: darken($pro12, 5%);
            color: $pro7;
        }
    }
}

.btn-theme-toggle {
    position: relative;
    height: 48px;
    width: 48px;
    border: 0;
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 48px;
        height: 48px;
        background-color: $pro5;
        mask-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' viewBox='0 0 24 24'><path d='M2 12A10 10 0 0 0 15 21.54A10 10 0 0 1 15 2.46A10 10 0 0 0 2 12Z' /></svg>"));
        mask-repeat: no-repeat;
        mask-size: 20px;
        mask-position: center;
        transition: background-color 300ms;
    }
    &:hover {
        background-color: $pro7;
        &::before {
            background-color: $pro3;
        }
    }
    .dark & {
        &::before {
            mask-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' viewBox='0 0 24 24'><path d='M3.55,18.54L4.96,19.95L6.76,18.16L5.34,16.74M11,22.45C11.32,22.45 13,22.45 13,22.45V19.5H11M12,5.5A6,6 0 0,0 6,11.5A6,6 0 0,0 12,17.5A6,6 0 0,0 18,11.5C18,8.18 15.31,5.5 12,5.5M20,12.5H23V10.5H20M17.24,18.16L19.04,19.95L20.45,18.54L18.66,16.74M20.45,4.46L19.04,3.05L17.24,4.84L18.66,6.26M13,0.55H11V3.5H13M4,10.5H1V12.5H4M6.76,4.84L4.96,3.05L3.55,4.46L5.34,6.26L6.76,4.84Z' /></svg>"));
        }
        &:hover::before {
            background-color: $pro7;
        }
    }
}

.btn-menu-toggle {
    position: relative;
    height: 48px;
    width: 48px;
    border: 0;
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 48px;
        height: 48px;
        background-color: $pro5;
        mask-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' viewBox='0 0 24 24'><path d='M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z' /></svg>"));
        mask-repeat: no-repeat;
        mask-size: 28px;
        mask-position: center;
        transition: background-color 300ms;
    }
    &:hover {
        background-color: $pro7;
        &::before {
            background-color: $pro3;
        }
    }
    .dark & {
        &:hover::before {
            background-color: $pro7;
        }
    }
}

.btn-close {
    height: 48px;
    width: 48px;
    background-color: $pro5;
    border-radius: .25rem;
    transition: background-color 300ms;
    mask-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'  viewBox='0 0 24 24'><path d='M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z' /></svg>"));
    mask-repeat: no-repeat;
    mask-size: 20px;
    mask-position: center;
    padding: 0;
    &:hover {
        background-color: $pro3;
        text-decoration: none;
    }
    &:focus {
        text-decoration: none;
        outline: 0;
    }
    .dark & {
        &:hover {
            background-color: $pro7;
        }
    }
}

.btn-block {
    display: block;
    width: 100%;
    + .btn-block {
        margin-top: .5rem;
    }
}
