.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: var(--card-background-color);
    background-clip: border-box;
    border: none;
    border-radius: .25rem;
    word-wrap: break-word;
}

.card-hover {
    transition: transform 300ms;
    will-change: transform;
    &:hover {
        transform: translate3d(0,-3px,0);
    }
}

.card-highlight {
    border: 2px solid var(--card-highlight-color);
    > .card-header {
        background-color: var(--card-highlight-color) !important;
        > .card-title {
            color: var(--card-highlight-title-color) !important;
        }
    }
    .card-header:first-child {
        border-radius: 0;
    }
}

.card-badge {
    display: inline-block;
    background-color: var(--card-badge-background-color);
    color: var(--card-badge-color);
    font-size: .75em;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    padding: .25em .5em;
    border-radius: .25rem;
    &:empty {
        display: none;
    }
}

.card-avatar {
    width: 80px;
    height: auto;
    max-width: 100%;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem;
}

.card-title {
    margin-bottom: .5rem;
}

.card-subtitle {
    margin-top: -.25rem;
    margin-bottom: 0;
}

.card-text:last-child {
    margin-bottom: 0;
}

.card-header {
    background-color: var(--card-header-background-color);
    padding: .5rem 1rem;
    margin-bottom: 0;
    &:first-child {
        border-radius: .25rem .25rem 0 0;
    }
}

.card-footer {
    background-color: var(--card-footer-background-color);
    padding: .5rem 1rem;
    &:last-child {
        border-radius: 0 0 .25rem .25rem;
    }
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    border-radius: .25rem;
}

.card-img,
.card-img-top,
.card-img-bottom {
    width: 100%;
}

.card-img,
.card-img-top {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.card-img,
.card-img-bottom {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}
