.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-fill {
    > .nav-link {
        flex: 1 1 auto;
        text-align: center;
    }
}

.nav-justified {
    > .nav-link {
        flex-basis: 0;
        flex-grow: 1;
        text-align: center;
    }
}

.nav-side {
    position: fixed;
    top: 0;
    width: 256px;
    height: 100%;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1040;
    transform: translate3d(-257px, 0, 0);
    transition: transform 300ms ease;
    .nav-link {
        position: relative;
        display: block;
        padding: .75rem 1.5rem;
        &:hover {
            background-color: var(--nav-side-nav-item-hover-bg);
        }
    }
    .nav-dropdown {
        display: flex;
        &::after {
            flex-shrink: 0;
            width: 1.25rem;
            height: 1.25rem;
            background-color: var(--nav-side-dropdown-icon-color);
            margin-left: auto;
            content: "";
            mask-image: var(--nav-side-dropdown-icon);
            mask-repeat: no-repeat;
            mask-size: 28px;
            mask-position: center;
            transition: transform 200ms ease-in-out;
        }
    }
    &.is-visible {
        transform: translate3d(0, 0 , 0);
    }
}

.nav-dashboard {
    &.is-visible {
        transform: translate3d(0, 0, 0);
    }
    @include media-breakpoint-up(lg) {
        transform: translate3d(0, 0, 0);
    }
}

.nav-side-overlay {
    position: absolute;
    background-color: var(--nav-side-overlay-bg);
    opacity: 0;
    z-index: 1039;
    transition: opacity 300ms;
    &.is-visible {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: .85;
    }
}

.nav-link {
    display: block;
    background-color: transparent;
    font-size: 1rem;
    color: var(--nav-item-color);
    font-weight: 500;
    text-align: left;
    padding: .5rem 1rem;
    text-decoration: none;
    border: 0;
    transition: color 150ms ease-in-out, background-color 150ms ease-in-out, border-color 150ms ease-in-out;
    &:hover,
    &:focus {
        text-decoration: none;
    }
    &.active {
        color: var(--nav-item-active-color);
        border-color: var(--nav-item-active-border-color) !important;
    }
    &.disabled {
        color: var(--nav-item-disabled-color);
        pointer-events: none;
        cursor: default;
    }
}

.nav-content {
    > .nav-pane {
        display: none;
    }
    > .active {
        display: block;
    }
}
