.pagination {
    display: flex;
}

.page-item {
    position: relative;
    display: block;
    background-color: var(--pagination-item-bg);
    color: var(--pagination-item-color);
    text-decoration: none;
    padding: .75rem 1.25rem;
    border-radius: .25rem;
    transition: background-color 300ms, color 300ms;
    &:hover {
        background-color: var(--pagination-item-hover-bg);
        color: var(--pagination-item-hover-color);
        text-decoration: none;
    }
    &:not(:last-child) {
        margin-right: 8px;
    }
    &.active {
        background-color: var(--pagination-item-active-bg);
    }
    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}
