.progress {
    display: flex;
    height: 1rem;
    background-color: var(--progress-bg);
    font-size: .75rem;
    overflow: hidden;
    border-radius: .25rem;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    background-color: var(--progress-bar-bg);
    justify-content: center;
    overflow: hidden;
    color: var(--progress-bar-color);
    text-align: center;
    white-space: nowrap;
}
