*,
*::before,
*::after {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@400;500;700&display=swap');

html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);

    --primary-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Roboto', sans-serif;
    --mono-font-family: 'Roboto Mono', monospace;

    --primary-background-color: rgb(248, 248, 248); // body
    --secondary-background-color: rgb(246, 246, 246);
    --tertiary-background-color: rgb(244, 244, 244);

    --primary-font-color: rgb(127, 127, 127); // body / paragraph text
    --secondary-font-color: rgb(77, 77, 77); // headings

    --pro7: rgb(220, 220, 220); // dividers / borders

    --link-color: rgb(77, 77, 77);
    --link-hover-color: rgb(30, 30, 30);

    --hr-color: rgb(220, 220, 220);
    --blockquote-color: rgb(77, 77, 77);
    --blockquote-border-color: rgb(77, 77, 77);
    --blockquote-footer-color: rgb(127, 127, 127);
    --mark-background-color: rgb(238, 238, 238);
    --pre-background-color: rgb(238, 238, 238);
    --pre-color: rgb(72, 72, 72);
    --code-background-color: rgb(238, 238, 238);
    --code-color: rgb(72, 72, 72);
    
    --accordion-button-background-color: rgb(238, 238, 238);
    --accordion-button-hover-background-color: rgb(235, 235, 235);
    --accordion-button-color: var(--primary-font-color);
    --accordion-button-icon-color: var(--primary-font-color);
    --accordion-body-background-color: rgb(242, 242, 242);

    --alert-primary-background-color: rgb(51, 51, 51);
    --alert-primary-color: rgb(204, 204, 204);
    --alert-primary-heading-color: rgb(204, 204, 204);
    --alert-primary-link-color: rgb(230, 230, 230);
    --alert-primary-close-background-color: rgb(230, 230, 230);
    --alert-primary-close-hover-background-color: rgb(237, 237, 237);
    
    --card-background-color: rgb(238, 238, 238);
    --card-highlight-color: rgb(44, 44, 44);
    --card-highlight-title-color: rgb(179, 179, 179);
    --card-badge-background-color: rgb(220, 220, 220);
    --card-badge-color: rgb(77, 77, 77);
    --card-header-background-color: rgb(229, 229, 229);
    --card-footer-background-color: rgb(229, 229, 229);
}

html.dark {
    --primary-background-color: rgb(30, 30, 30); // body
    --secondary-background-color: rgb(31, 31, 31);
    --tertiary-background-color: rgb(32, 32, 32);
    
    --secondary-font-color: rgb(179, 179, 179); // headings
    
    --link-color: rgb(179, 179, 179);
    --link-hover-color: rgb(248, 248, 248);

    --hr-color: rgb(50, 50, 50);
    --blockquote-color: rgb(179, 179, 179);
    --blockquote-border-color: rgb(179, 179, 179);
    --blockquote-footer-color: rgb(127, 127, 127);
    --mark-background-color: rgb(37, 37, 37);
    --pre-background-color: rgb(37, 37, 37);
    --pre-color: rgb(179, 179, 179);
    --code-background-color: rgb(37, 37, 37);
    --code-color: rgb(179, 179, 179);

    --accordion-button-background-color: rgb(38, 38, 38);
    --accordion-button-hover-background-color: rgb(40, 40, 40);
    --accordion-button-color: var(--primary-font-color);
    --accordion-button-icon-color: var(--primary-font-color);
    --accordion-body-background-color: rgb(34, 34, 34);

    --card-background-color: rgb(38, 38, 38);
    --card-highlight-color: rgb(229, 229, 229);
    --card-highlight-title-color: rgb(77, 77, 77);
    --card-badge-background-color: rgb(50, 50, 50);
    --card-badge-color: rgb(179, 179, 179);
    --card-header-background-color: rgb(44, 44, 44);
    --card-footer-background-color: rgb(44, 44, 44);
}

body {
    position: relative;
    background-color: var(--primary-background-color);
    font-family: var(--primary-font-family);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--primary-font-color);
    text-align: left;
    -webkit-text-size-adjust: 100%;
    margin: 0;
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}

body,
main,
section,
header,
footer,
div,
p,
ul,
li,
span,
pre,
code,
button,
mark,
hr {
    transition: background-color 300ms, color 300ms, border-color 300ms, margin 300ms;
}

hr {
    border: 0;
    border-top: 2px solid var(--hr-color);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--secondary-font-family);
    color: var(--secondary-font-color);
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: .5rem;
    transition: color 300ms;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

article img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

abbr[title] {
    text-decoration: underline;
    text-decoration: underline dotted;
    cursor: help;
    text-decoration-skip-ink: none;
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}

ol,
ul {
    padding-left: 2rem;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

dt {
    font-weight: 700;
}

dd {
    margin-bottom: .5rem;
    margin-left: 0;
}

blockquote {
    color: var(--blockquote-color);
    padding-left: 1.5rem;
    border-left: .2rem solid var(--blockquote-border-color);
    margin: 0 0 1rem;
    margin-bottom: 1rem;
    footer {
        display: block;
        font-size: 80%;
        color: var(--blockquote-footer-color);
        &::before {
            content: "\2014\00A0"; // em dash, nbsp
        }
    }
}

b,
strong {
    font-weight: bolder;
}

small {
    font-size: .875em;
}

mark {
    background-color: var(--mark-background-color);
    padding: .2rem;
}

sub,
sup {
    position: relative;
    font-size: .75em;
    line-height: 0;
    vertical-align: baseline;
}

sub { bottom: -.25em; }
sup { top: -.5em; }

a {
    color: var(--link-color);
    text-decoration: none;
    word-break: break-all;
    transition: background-color 300ms, padding 300ms, color 300ms;
    &:hover {
        color: var(--link-hover-color);
        text-decoration: none;
        & > svg {
            fill: var(--link-hover-color);
        }
    }
    & > svg {
        fill: var(--link-color);
        transition: fill 300ms;
    }
}

a:not([href]):not([class]) {
    &,
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

pre,
code,
kbd,
samp {
    font-family: var(--mono-font-family);
    font-size: 1em;
    direction: ltr;
    unicode-bidi: bidi-override;
}

pre {
    display: block;
    background-color: var(--pre-background-color);
    color: var(--pre-color);
    font-size: .875em;
    padding: 1rem;
    border-radius: .25rem;
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    // Account for some code outputs that place code tags in pre tags
    code {
        font-size: inherit;
        color: inherit;
        word-break: normal;
    }
}

code {
    background-color: var(--code-background-color);
    font-size: .875em;
    color: var(--code-color);
    word-wrap: break-word;
    padding: 0 .25rem;
    // Streamline the style when inside anchors to avoid broken underline and more
    a > & {
        color: inherit;
    }
}

figure {
    margin: 0 0 1rem;
}

img,
svg {
    vertical-align: middle;
}

table {
    caption-side: bottom;
    border-collapse: collapse;
}

caption {
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: $pro5;
    text-align: left;
    caption-side: bottom;
}

th {
    font-weight: 700;
    text-align: inherit;
    text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

label {
    display: inline-block;
}

button {
    border-radius: 0;
}

button:focus {
    outline: dotted 1px;
    outline: -webkit-focus-ring-color auto 5px;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
select {
    text-transform: none;
}

[role="button"] {
    cursor: pointer;
}

select {
    word-wrap: normal;
}

[list]::-webkit-calendar-picker-indicator {
    display: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    &:not(:disabled) {
        cursor: pointer;
    }
}

::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

textarea {
    resize: vertical;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    float: left;
    width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    font-weight: null;
    line-height: inherit;

    + * {
        clear: left;
    }
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
    padding: 0;
}

::-webkit-inner-spin-button {
    height: auto;
}

[type="search"] {
    outline-offset: -2px;
    -webkit-appearance: textfield;
}

::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
}

::file-selector-button {
    font: inherit;
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}

output {
    display: inline-block;
}

iframe {
    border: 0;
}

summary {
    display: list-item;
    cursor: pointer;
}

progress {
    vertical-align: baseline;
}

[hidden] {
    display: none !important;
}
