.table {
    width: 100%;
    margin-bottom: 1rem;
    color: var(--table-color);
    vertical-align: top;
    border-color: var(--table-border-color);

    // Target th & td
    // We need the child combinator to prevent styles leaking to nested tables which doesn't have a `.table` class.
    // We use the universal selectors here to simplify the selector (else we would need 6 different selectors).
    // Another advantage is that this generates less code and makes the selector less specific making it easier to override.
    > :not(caption) > * > * {
        padding: .5rem .5rem;
        background-color: var(--table-bg);
        border-bottom-width: 1px;
    }

    > tbody {
        vertical-align: inherit;
    }

    > thead {
        vertical-align: bottom;
        th {
            color: var(--table-head-th-color);
            border-bottom-width: 2px;
        }
    }
}

.table-hover {
    > tbody > tr:hover {
        --table-bg: var(--table-hover-bg);
    }
}

// Responsive tables
//
// Generate series of `.table-responsive-*` classes for configuring the screen
// size of where your table will overflow.

@each $breakpoint in map-keys($grid-breakpoints) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @include media-breakpoint-down($breakpoint) {
        .table-responsive#{$infix} {
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
        }
    }
}
