.toast-container {
    > :not(:last-child) {
        margin-bottom: .75rem;
    }
}

.toast {
    max-width: 350px;
    font-size: .875rem;
    background-color: var(--toast-bg);
    background-clip: padding-box;
    opacity: 0;
    border-radius: .25rem;
    &:not(:last-child) {
        margin-bottom: .75rem;
    }
    &.showing {
        opacity: 1;
    }
    &.show {
        display: block;
        opacity: 1;
    }
    &.hide {
        display: none;
    }
}
  
.toast-header {
    display: flex;
    align-items: center;
    background-color: var(--toast-header-bg);
    background-clip: padding-box;
    color: var(--toast-header-color);
    padding: 0 .75rem;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
  
.toast-body {
    padding: .75rem;
}
